*{
    color:#ccc;
}

window { 
    background-color:  #cc5757;
} 

#input { 
    margin-bottom: 5px ; 
    background-color: #202020; 
} 

#outer-box { 
    margin: 2px; 
    padding: 15px ;
    padding-bottom:0; 
    background-color: #202020; 
} 
